body {
  font-family: Arial, sans-serif;
  background: #09171c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("ice2.jpg") ;
 
}


.container {
  background: #154d60;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}
input {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

 select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

button {
  background: #00c853;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #00a846;
}